@use "src/scss/index" as *;

.registrationContainer {
  transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
  transform: scale(1);
  margin: 55px 10px 0;
  background: $sidebar_bg;
  max-width: 580px;
  min-width: 300px;
  padding: 24px 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

@media screen and (min-width: 769px) {
  .registrationContainer {
    margin: 85px 10px 0;
  }
}