@use "scss/index" as *;

.tableBody {
  > tr {
    > td {
      text-align: center;
      padding: 2.5px;
      border: 1px solid #111;
    }
  }
}

@include tablet {
  .tableBody {
    > tr {
      > td {
        padding: 5px 10px;
      }
    }
  }
}

@include desktop {
  .tableBody {
    > tr {
      > td {
        padding: 10px 15px;
      }
    }
  }
}
