@use "scss/index" as *;
.tabsListContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  margin-bottom: 20px;
}

@include tablet {
  .tabsListContainer {
    gap: 10px;
    margin-bottom: 40px;
  }
}

@include desktop {
  .tabsListContainer {
    gap: 15px;
    margin-bottom: 60px;
  }
}
