@use "scss/index" as *;
.tableHead {
  border: 1px solid #111;
  font-weight: 600;

  > tr {
    border: 1px solid #111;

    > td {
      text-align: center;
      padding: 2.5px;
      border: 1px solid #111;
    }
  }
}

@include tablet {
  .tableHead > tr > td {
    padding: 5px 10px;
  }
}

@include desktop {
  .tableHead > tr > td {
    padding: 10px 15px;
  }
}
