/.idea
/todo.txt
/httpCode.txt

/client/node_modules
/client/.env
/client/todo.txt
/client/.idea/*
/client/.idea

/server/.env
/server/node_modules
/server/dist
/server/src/static/*.jpg
/server/.idea/*
/server/.idea
/server/.idea/
