@use "scss/index" as *;

.logoContainer {
  display: flex;
  align-items: center;
  color: #435c6b;

  .logoImage {
    margin: 0.5rem 0 0.5rem 1rem;
    width: 3rem;
    height: 2.25rem;
  }

  .logoText {
    font-weight: 800;
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@include tablet {
  .logoContainer {
    .logoImage {
      width: 3.5rem;
      height: 2.75rem;
      margin-right: 0.66rem;
    }

    .logoText {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }
}

@include desktop {
  .logoContainer {
    .logoImage {
      width: 4rem;
      height: 3.25rem;
      margin-right: 0.75rem;
    }

    .logoText {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
  }
}
