@use "../../../scss/index" as *;

.searchContainer {
  display: flex;
  max-width: 560px;
  width: 100%;

  .searchButton {
    width: 50px;
    height: 45px;
    border: none;
    padding: 7px 15px 6px 9px;
    border-radius: 12px 0 0 12px;
    background: rgba(82, 79, 94, 0.1);
    > svg {
      width: 25px;
      height: 25px;
    }
  }

  .searchInput {
    width: 100%;
    background: $search_bg;
    border: none;
    padding: 10px;
    font-size: 1rem;
    color: #435c6b;
    font-family: inherit;
    line-height: 1rem;

    ::placeholder {
      color: #435c6b;
    }
  }
}

@media screen and (min-width: 769px) {
  .searchContainer {
    margin: 0 1rem;
    .searchButton {
      width: 60px;
      height: 52px;
      padding: 9px 17px 8px 10px;
      border-radius: 14px 0 0 14px;
      > svg {
        width: 32px;
        height: 32px;
      }
    }

    .searchInput {
      padding: 14px;
      font-size: 1.125rem;
      line-height: 1.25rem;
    }
  }
}

@media screen and (min-width: 1025px) {
  .searchContainer {
    .searchButton {
      width: 70px;
      height: 58px;
      padding: 10px 19px 9px 12px;
      border-radius: 16px 0 0 16px;
      > svg {
        width: 39px;
        height: 39px;
      }
    }

    .searchInput {
      padding: 17px;
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
  }
}
