@use "scss/index" as *;

.userContainer {
  margin: 1rem 0;
  background: $search_bg;
  display: flex;
  border-radius: 23px 12px 12px 23px;
  width: 100%;
  max-width: 560px;
  position: relative;

  > img {
    margin: auto 0;
    height: 45px;
  }
}

@media screen and (min-width: 769px) {
  .userContainer {
    margin: 10px 20px 10px 0;
    width: 55px;

    > img {
      height: 55px;
    }
  }
}

@media screen and (min-width: 1025px) {
  .userContainer {
    margin: 11px 32px 12px 0;
    width: 62px;

    > img {
      height: 62px;
    }
  }
}
