@use "scss/index" as *;

.userModal {
  width: 100%;
  display: flex;

  > span {
    padding: 10px;
    font-weight: 500;
    color: #524f5e;
    font-size: 22px;
    word-break: break-word;
  }

  > button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    min-width: 70px;
    min-height: 100%;
    border: none;
    padding: 7px 9px 6px 15px;
    border-radius: 0 12px 12px 0;
    font-size: 14px;
    color: #524f5e;
    line-height: 22px;
    font-style: italic;
    text-decoration: none;
    background: rgba(82, 79, 94, 0.1);
  }

  .registration {
    border-right: 2px solid rgba(82, 79, 94, 0.1);
  }

  > div {
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #524f5e;
    text-decoration: none;
    word-break: break-word;
  }
}

@include tablet{
  .userModal {
    position: absolute;
    top: 99px;
    right: 20px;
    display: flex;
    flex-direction: column;
    width: 175px;
    background: $white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    > span {
      text-align: end;
      z-index: 1;
      font-size: 22px;
      line-height: 30px;
      min-height: 38px;
      word-wrap: anywhere;
      padding: 6px 18px 0 0;
    }

    > button {
      text-align: end;
      width: 100%;
      border-radius: 0 0 8px 8px;
      padding: 6px 18px 4px 0;
      font-size: 16px;
      line-height: 20px;
      height: 32px;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      width: 22px;
      height: 22px;
      background: $white;
      left: calc(85% - 11px);
      top: -9px;
      transform: rotate(45deg);
      border-radius: 2px;
    }

    .registration {
      border-bottom: 2px solid rgba(82, 79, 94, 0.1);
      border-right: none;
      height: 38px;
      z-index: 1;
    }

    .signIn {
      height: 32px;
    }

    > div {
      cursor: pointer;
      font-size: 20px;
    }
  }
}

@include desktop{
  .userModal {
    top: 109px;
    right: 23px;
    width: 225px;
    border-radius: 10px;

    > span {
      font-size: 30px;
      line-height: 36px;
      min-height: 48px;
    }

    > button {
      border-radius: 0 0 10px 10px;
      padding: 8px 20px 5px 0;
      font-size: 18px;
      line-height: 22px;
      height: 37px;
    }

    &:before {
      width: 28px;
      height: 28px;
      left: calc(82% - 14px);
      top: -10px;
    }

    .registration {
      height: 48px;
    }

    .signIn {
      height: 37px;
    }

    > div {
      font-size: 24px;
      line-height: 26px;
    }
  }
}
