@use "../../../scss/index" as *;

.userContainer {
  margin: 0;
  background: $search_bg;
  display: flex;
  border-radius: 23px 12px 12px 23px;
  width: 100%;
  max-width: 560px;
  position: relative;

  > img {
    margin: auto 0;
    height: 45px;
    width: 45px;
    border-radius: 50%;
  }
}

@media screen and (min-width: 769px) {
  .userContainer {
    margin-right: 20px;
    width: 55px;

    > img {
      height: 55px;
      width: 55px;
    }
  }
}

@media screen and (min-width: 1025px) {
  .userContainer {
    margin-right: 32px;
    width: 62px;

    > img {
      height: 62px;
      width: 62px;
    }
  }
}
