@use "scss/index" as *;

.category {
  flex-wrap: wrap;
  cursor: default;
  color: white;
  background: $active_item_color;
}

@include tablet {
  .category .categoryTitle {
    margin-left: 6px;
  }
}

@include desktop {
  .category .categoryTitle {
    margin-left: 10px;
  }
}
