@use "scss/index" as *;

.view > svg {
  height: 100%;
  width: 35px;
  cursor: pointer;
}

@include tablet {
  .view > svg {
    width: 40px;
  }
}

@include desktop {
  .view > svg {
    height: 100%;
    width: 55px;
  }
}
