@use "scss/index" as *;

.productDetailLayout {
  > div {
    margin-bottom: 9px;
  }
}

@include tablet {
  .productDetailLayout {
    > div {
      margin-bottom: 12px;
    }
  }
}

@include desktop {
  .productDetailLayout {
    > div {
      margin-bottom: 15px;
    }
  }
}
