.characteristicTitle {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
}

@media screen and (min-width: 769px) {
  .characteristicTitle {
    font-size: 14px;
    margin-top: 13px;
  }
}

@media screen and (min-width: 1025px) {
  .characteristicTitle {
    font-size: 16px;
    margin-top: 17px;
  }
}