@use "scss/index" as *;

.characteristicTitle {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
}

@include tablet {
  .characteristicTitle {
    font-size: 14px;
    margin-top: 13px;
  }
}

@include desktop {
  .characteristicTitle {
    font-size: 16px;
    margin-top: 17px;
  }
}
