@use "scss/index" as *;

.descriptionTab {
  font-weight: 400;
  font-size: 14px;
  line-height: 150.2%;
}

@include tablet {
  .descriptionTab {
    font-size: 19px;
  }
}

@include desktop {
  .descriptionTab {
    font-size: 24px;
  }
}
