@use "scss/index" as *;

.mainContainer {
  position: relative;
  padding: 72px 10px 10px;
  width: 100vw;
}

.admin {
  padding-top: 110px;
}


@include tablet{
  .mainContainer {
    padding: 115px 50px 30px 115px;
  }

  .admin {
    padding-top: 155px;
  }
}

@include desktop{
  .mainContainer {
    padding: 125px 70px 40px 150px;
  }

  .admin {
    padding-top: 175px;
  }
}

