.mainContainer {
  position: relative;
  width: 100vw;
  padding: 20px;
}

.admin {
  padding-top: 50px;
}

@media screen and (min-width: 769px) {
  .mainContainer {
    padding: 30px 80px;
  }

  .admin {
    padding-top: 60px;
  }
}

@media screen and (min-width: 1025px) {
  .mainContainer {
    padding: 40px 100px;
  }

  .admin {
    padding-top: 70px;
  }
}
