.mainPage {
  margin: 0 auto;
  max-width: 1180px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;

  > img {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .mainPage {
    max-width: 1240px;
    gap: 30px;
    padding-left: 65px;
  }
}

@media screen and (min-width: 1025px) {
  .mainPage {
    justify-content: space-between;
    max-width: 1260px;
    gap: 45px;
    padding-left: 80px;
  }
}
