@use "scss/index" as *;

.chartContainer {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@include tablet {
  .chartContainer {
    height: 380px;
  }
}

@include desktop {
  .chartContainer {
    height: 520px;
  }
}
