@use "scss/index" as *;
.characteristicContainer {
  display: flex;
  flex-direction: column;

  > button {
    max-width: 250px;
  }
}

@include tablet {
  .characteristicContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
  }
}

@include desktop {
  .characteristicContainer {
    gap: 30px;
  }
}
