@use "scss/index" as *;

.admin_panel {
  position: absolute;
  top: 50px;
  right: 0;
  background: inherit;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 7px 7px;
  padding: 8px 0;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background: $active_item_color;
  color: $white;
  text-decoration: none;
}

.active {
  color: $gold;
}

@include tablet {
  .admin_panel {
    top: 85px;
    z-index: 2;
    padding: 10px 0;
    font-size: 20px;
    line-height: 23px;
  }
}

@include desktop {
  .admin_panel {
    padding: 12px 0;
    font-size: 22px;
    line-height: 27px;
  }
}
