@use "scss/index" as *;

.counterContainer {
  display: flex;
  align-items: center;
  gap: 13px;

  .icon {
    height: 100%;
    width: 100%;

    > svg {
      height: 100%;
      width: 100%;
    }
  }

  .count {
    word-wrap: normal;
    font-weight: 400;
    font-size: 16px;
  }
}

@include tablet {
  .counterContainer > .count {
    font-size: 20px;
  }
  .counterContainer:first-child > .icon > svg {
    height: 100%;
    min-width: 32px;
  }
}

@include desktop {
  .counterContainer > .count {
    font-size: 24px;
  }
  .counterContainer:first-child > .icon > svg {
    height: 100%;
    min-width: 36px;
  }
}
