@use "scss/index" as *;

.counterContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}

@include tablet {
  .counterContainer {
    gap: 15px;
  }
}

@include desktop {
  .counterContainer {
    gap: 20px;
  }
}
