.counterContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}

@media screen and (min-width: 769px) {
  .counterContainer {
    gap: 15px;
  }
}

@media screen and (min-width: 1025px) {
  .counterContainer {
    gap: 20px;
  }
}
