@use "scss/index" as *;

.prodInfoWrapper {
  min-width: 280px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

@include tablet {
  .prodInfoWrapper {
    flex: 1 1 auto;
    min-width: 310px;
  }
}

@include desktop {
  .prodInfoWrapper {
    min-width: 350px;
  }
}
