@font-face {
  font-family: "Lao Sans Pro";
  src: url("../../../../assets/fonts/LaoSansPro-Regular.ttf") format("ttl");
}

.characteristicsWrapper {
  flex: 1 1 auto;
  margin-top: 8px;
  font-size: 12px;
  line-height: 15px;
  max-width: 320px;
  .charContainer {
    margin: 8px 0;
    .charParam {
      font-family: "Lao Sans Pro";
      font-weight: 600;
    }

    .charNames {
    }
  }
}

@media screen and (min-width: 769px) {
  .characteristicsWrapper {
    margin-top: 12px;
    font-size: 16px;
    line-height: 20px;
    .charContainer {
      margin: 12px 0;
    }
  }
}

@media screen and (min-width: 1025px) {
  .characteristicsWrapper {
    margin-top: 19px;
    font-size: 20px;
    line-height: 25px;
    .charContainer {
      margin: 19px 0;
    }
  }
}
