@use "scss/index" as *;
.imageContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@include tablet {
  .imageContainer {
    margin-top: 30px;
  }
}

@include desktop {
  .imageContainer {
    margin-top: 50px;
  }
}
