@use "scss/index" as *;

.filterPanelController {
  position: absolute;
  background: $white;
  top: 120px;
  right: 0;
  width: 210px;
  padding: 20px 30px;
  border-radius: 20px 0 0 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

  .categoryFilter {
    > div {
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;

      > svg {
        width: 15px;
        margin-right: 10px;
        fill: #524f5e;

        > path {
          fill: #524f5e;
        }
      }

      > span {
        margin-bottom: 5px;
        display: inline-block;
        color: #524f5e;
      }
    }

    .radioContainer {
      display: flex;
      flex-direction: column;
      font-weight: 400;
      height: 100px;
      overflow-y: scroll;
      margin: 0 10px 13px;
      font-size: 16px;
      color: #524f5e;

      .subcategoryTitle {
        display: grid;
        grid-template-columns: 12px auto;
        gap: 10px;

        input[type="radio"] {
          cursor: pointer;
          appearance: none;
          -webkit-appearance: none;
          background-color: #fff;
          margin: 0;
          font: inherit;
          color: currentColor;
          width: 16px;
          height: 16px;
          border: 1px solid currentColor;
          border-radius: 50%;
          display: grid;
          place-content: center;
        }

        input[type="radio"]::before {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          transform: scale(0);
          transition: 120ms transform ease-in-out;
          box-shadow: inset 10px 10px #766ed3;
        }

        input[type="radio"]:checked::before {
          transform: scale(1);
        }

        input[type="radio"]:focus {
          outline: max(0px, 0px) solid currentColor;
          outline-offset: max(0px, 0px);
        }
      }

      &::-webkit-scrollbar {
        width: 5px;
        border-radius: 20px;
      }

      &::-webkit-scrollbar-track {
        background: #e6e6e6;
        border-radius: 20px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #d1d1d1;
        border-radius: 20px;
      }
    }
  }

  .separator {
    border-bottom: 1px solid rgba(82, 79, 94, 0.3);
    margin-bottom: 9px;
  }

  .priceFilter {
    > div {
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      cursor: pointer;

      > svg {
        width: 15px;
        margin-right: 10px;
        fill: #524f5e;

        > path {
          fill: #524f5e;
        }
      }

      > span {
        margin-bottom: 5px;
        display: inline-block;
        color: #524f5e;
      }
    }

    .inputContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 2px 13px;

      .separator {
        width: 100%;
        display: flex;
        margin: 0 1.5px;
        border-color: #524f5e;
      }

      > input {
        padding: 7px;
        max-width: 70px;
        font-family: "Inter";
        font-size: 16px;
        line-height: 16px;
        display: flex;
        align-items: center;
        outline: none;
        color: #524f5e;
        border-radius: 0;
        border: 0.5px solid #524f5e;
      }

      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      input[type="number"],
      input[type="number"]:hover,
      input[type="number"]:focus {
        appearance: none;
        -moz-appearance: textfield;
      }
    }
  }

  .characteristicsFilter {
    .parameterContainer {
      > div {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;

        > svg {
          width: 15px;
          margin-right: 10px;
          fill: #524f5e;

          > path {
            fill: #524f5e;
          }
        }

        > span {
          margin-bottom: 5px;
          display: inline-block;
          color: #524f5e;
        }
      }

      .charContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: 13px;

        .charTitle {
          font-weight: 400;
          font-size: 16px;
          color: #524f5e;

          > input {
            margin: 0 10px;
          }

          input[type="checkbox"] {
            position: relative;
            cursor: pointer;
          }

          input[type="checkbox"]:before {
            content: "";
            display: block;
            position: absolute;
            width: 15px;
            height: 15px;
            top: -2px;
            left: 0;
            border: 1px solid rgba(82, 79, 94, 0.5);
            background-color: white;
          }

          input[type="checkbox"]:checked:before {
            content: "";
            display: block;
            position: absolute;
            width: 15px;
            height: 15px;
            top: -2px;
            left: 0;
            background-color: $active_item_color;
          }

          input[type="checkbox"]:checked:after {
            content: "";
            display: block;
            width: 3px;
            height: 7px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
            top: 1px;
            left: 6px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .filterPanelController {
    top: 30px;
    width: 320px;

    .categoryFilter {
      > div {
        font-size: 19px;
        line-height: 24px;

        > svg {
          width: 18px;
          margin-right: 14px;
        }

        > span {
          margin-bottom: 15px;
        }
      }

      .radioContainer {
        height: 140px;
        margin: 0 10px 20px;
        font-size: 19px;
        gap: 7px;

        .subcategoryTitle {
          gap: 20px;

          input[type="radio"] {
            width: 22px;
            height: 22px;
          }

          input[type="radio"]::before {
            width: 16px;
            height: 16px;
            box-shadow: inset 16px 16px #766ed3;
          }
        }
      }
    }

    .priceFilter {
      > div {
        font-size: 19px;
        line-height: 24px;

        > svg {
          width: 18px;
          margin-right: 14px;
        }

        > span {
          margin-bottom: 15px;
        }
      }

      .inputContainer {
        margin: 0 15px 23px;

        .separator {
          margin: 0 2.5px;
        }

        > input {
          padding: 7px 11px;
          max-width: 110px;
          font-size: 19px;
          line-height: 24px;
          border: 1px solid #524f5e;
        }
      }
    }

    .characteristicsFilter {
      .parameterContainer {
        > div {
          font-size: 19px;
          line-height: 24px;

          > svg {
            width: 18px;
            margin-right: 14px;
          }

          > span {
            margin-bottom: 15px;
          }
        }

        .charContainer {
          gap: 9px;

          .charTitle {
            font-size: 19px;
            display: flex;
            align-items: center;
            gap: 9px;

            input[type="checkbox"]:before {
              width: 22px;
              height: 22px;
              top: -9px;
              left: 0;
            }

            input[type="checkbox"]:checked:before {
              width: 22px;
              height: 22px;
              top: -9px;
              left: 0;
            }

            input[type="checkbox"]:checked:after {
              width: 5px;
              height: 10px;
              top: -5px;
              left: 8px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .filterPanelController {
    top: 30px;
    width: 430px;

    .categoryFilter {
      > div {
        font-size: 22px;
        line-height: 27px;

        > svg {
          width: 21px;
          margin-right: 18px;
        }

        > span {
          margin-bottom: 23px;
        }
      }

      .radioContainer {
        height: 170px;
        margin: 0 10px 26px;
        font-size: 22px;

        .subcategoryTitle {
          gap: 20px;

          input[type="radio"] {
            width: 28px;
            height: 28px;
          }

          input[type="radio"]::before {
            width: 20px;
            height: 20px;
            box-shadow: inset 20px 20px #766ed3;

          }
        }
      }
    }

    .priceFilter {
      > div {
        font-size: 22px;
        line-height: 27px;

        > svg {
          width: 21px;
          margin-right: 18px;
        }

        > span {
          margin-bottom: 23px;
        }
      }

      .inputContainer {
        margin: 0 25px 33px;

        .separator {
          margin: 0 3px;
        }

        > input {
          padding: 7px 11px;
          max-width: 140px;
          font-size: 22px;
          line-height: 27px;
          border: 1px solid #524f5e;
        }
      }
    }

    .characteristicsFilter {
      .parameterContainer {
        > div {
          font-size: 22px;
          line-height: 27px;

          > svg {
            width: 21px;
            margin-right: 18px;
          }

          > span {
            margin-bottom: 23px;
          }
        }

        .charContainer {
          gap: 12px;
          margin-bottom: 25px;

          .charTitle {
            font-size: 22px;
            gap: 22px;

            input[type="checkbox"]:before {
              width: 33px;
              height: 33px;
              top: -9px;
              left: 0;
            }

            input[type="checkbox"]:checked:before {
              width: 33px;
              height: 33px;
              top: -9px;
              left: 0;
            }

            input[type="checkbox"]:checked:after {
              width: 8px;
              height: 13px;
              top: -1px;
              left: 12px;
            }
          }
        }
      }
    }
  }
}
