@use "scss/index" as *;

.mainPage {
  margin: 0 auto;
  max-width: 1180px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

@include tablet{
  .mainPage {
    max-width: 1240px;
    gap: 30px;
  }
}

@include desktop{
  .mainPage {
    justify-content: space-between;
    max-width: 1260px;
    gap: 45px;
  }
}
