@use "../../scss/index" as *;

aside {
  .sidebarWrapper {
    margin-top: 20px;
    margin-bottom: 53px;
    overflow: hidden;
    min-height: 100%;

    > ul {
      background: $white;
    }
  }
}

@media screen and (min-width: 769px) {
  aside {
    position: relative;
    max-width: 64px;

    .sidebarWrapper {
      transition: max-width 0.5s ease-in-out;
      background: $sidebar_bg;
      max-width: 64px;
      margin: 0;
      padding-top: 150px;
      position: fixed;
      top: 0;
      z-index: 1;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    }

    .sidebarWrapper:hover {
      transition: max-width 0.5s ease-in-out;
      max-width: 270px;
    }
  }
}

@media screen and (min-width: 1025px) {
  aside {
    max-width: 78.5px;

    .sidebarWrapper {
      padding-top: 210px;
      max-width: 78.5px;
      transition: max-width 0.5s ease-in-out;
    }

    .sidebarWrapper:hover {
      transition: max-width 0.5s ease-in-out;
      max-width: 360px;
    }
  }
}
