@use "scss/index" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@include tablet {
  .wrapper {
    flex-direction: row-reverse;
    justify-content: start;
    align-items: normal;
    gap: 25px;
  }
}

@include desktop {
  .wrapper {
    flex-direction: row-reverse;
    gap: 45px;
  }
}
