@use "scss/index" as *;

.wrapper {
  color: #171313;

  .productContainer {
    max-width: 900px;
    max-height: 270px;
    display: flex;
    align-items: center;
    background: $white;
    margin: 16px auto;
    border-radius: 10px;

    .image {
      margin: 18px 20px;
      width: 70px;
      height: 90px;
    }

    .productMain {
      margin: 14px 0 20px;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .productTitle {
        font-size: 16px;
        line-height: 18px;
        font-weight: 600;
        margin-bottom: 20px;
      }

      .productPrice {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 18px;

        > svg {
          margin: 0 10px 0 0;
          height: 18px;
          width: 18px;
        }
      }
    }

    .btnWrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      margin-right: 14px;

      > button {
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        border: none;
        color: $white;
        padding: 10px 15px;
        font-size: 14px;
        border-radius: 10px;
        font-weight: 600;

      }

      .editBtn {
        background: $active_item_color;
        >a{
          text-decoration: none;
          color: $white;
        }
      }

      .deleteBtn {
        background: rgb(207, 21, 21);
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .wrapper {
    .productContainer {
      margin: 24px auto;

      .image {
        margin: 28px 40px;
        width: 120px;
        height: 150px;
      }

      .productMain {
        margin: 19px 0 25px;

        .productTitle {
          font-size: 22px;
          line-height: 24px;
        }

        .productPrice {
          font-size: 22px;
          line-height: 24px;

          > svg {
            margin: 0 15px 0 0;
            height: 23px;
            width: 23px;
          }
        }
      }

      .btnWrapper {
        gap: 30px;
        margin-right: 34px;

        > button {
          padding: 12px 22px;
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .wrapper {
    .productContainer {
      max-width: 900px;
      max-height: 270px;
      margin: 32px auto;

      .image {
        margin: 38px 55px;
        width: 160px;
        height: 190px;
      }

      .productMain {
        margin: 24px 0 45px;

        .productTitle {
          font-size: 24px;
          line-height: 29px;
        }

        .productPrice {
          font-size: 28px;
          line-height: 34px;

          > svg {
            margin: 0 20px 0 0;
            height: 28px;
            width: 28px;
          }
        }
      }

      .btnWrapper {
        gap: 40px;
        margin-right: 64px;

        > button {
          padding: 15px 30px;
          font-size: 20px;
        }
      }
    }
  }
}
