@use "scss/index" as *;

.container {
  .photoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .userPhoto {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    > button {
      max-width: 300px;
    }
  }
}

@include tablet {
  .container {
    display: flex;
    gap: 40px;

    .photoContainer {
      padding: 0 0 0 10px;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
      width: 100%;
      min-width: 251px;

      .userPhoto {
        padding: 8px;
        width: 220px;
        height: 220px;
      }
    }

    .userInfoContainer {
      max-width: 400px;
      padding: 0 0 4px 0;
    }
  }
}

@include desktop {
  .container {
    gap: 125px;

    .photoContainer {
      padding: 0 0 0 48px;
      min-width: 337px;

      .userPhoto {
        padding: 12px;
        width: 356px;
        height: 356px;
      }
    }

    .userInfoContainer {
      max-width: 620px;
      padding: 0 29px 4px 0;
    }
  }
}
