@use "scss/index" as *;

.error {
  color: red;
  margin-top: 4px;
  display: inline-block;
  font-size: 8px;
  line-height: 11px;
}

.button {
  background: inherit;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 8px 0;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.purpleButton {
  background: $active_item_color;
  color: $white;
}

.whiteButton {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: $white;
  color: $active_item_color;
}

@include tablet {
  .error {
    margin-top: 5.5px;
    font-size: 10px;
    line-height: 13px;
  }
  .button {
    padding: 10px 0;
    font-size: 20px;
    line-height: 23px;
    margin-top: 15px;
  }
}

@include desktop {
  .error {
    margin-top: 7px;
    font-size: 12px;
    line-height: 15px;
  }
  .button {
    padding: 12px 0;
    font-size: 22px;
    line-height: 27px;
    margin-top: 16px;
  }
}
