@use "scss/index" as *;

.error {
  color: red;
  margin-top: 4px;
  display: inline-block;
  font-size: 8px;
  line-height: 11px;
}

@include tablet {
  .error {
    margin-top: 5.5px;
    font-size: 10px;
    line-height: 13px;
  }
}

@include desktop {
  .error {
    margin-top: 7px;
    font-size: 12px;
    line-height: 15px;
  }
}
