@use "scss/index" as *;

.wrapper {
  margin-top: 15px;
  height: 65px;
  width: 100%;
  background: #fff;
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 27px;

  .view > svg {
    height: 100%;
    width: 35px;
  }


  > div:not(:first-child) {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $active_item_color;
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  .priceContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    > svg {
      width: 12px;
    }

    .price {
      padding: 0 5px 0 6px;
    }

    .arrow > svg {
      height: 100%;
      width: 15px;

      > path {
        fill: $white;
      }
    }

    .desc > svg {
      transform: rotate(180deg);
    }


    .asc > svg {
      transform: rotate(0deg);
    }
  }

  .category {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 769px) {
  .wrapper {
    margin-top: 20px;
    height: 75px;
    padding: 15px 20px;
    gap: 12px;

    .view > svg {
      width: 40px;

    }

    > div:not(:first-child) {
      padding: 8px;
      font-size: 18px;
      line-height: 20px;
    }

    .priceContainer {
      > svg {
        width: 15px;
      }

      .price {
        padding: 0 5px 0 8px;
      }
    }

    .arrow > svg {
      width: 20px;

    }
  }

  .category .categoryTitle {
    margin-left: 6px;
  }
}

@media screen and (min-width: 1025px) {
  .wrapper {
    margin-top: 25px;
    height: 85px;
    padding: 20px 25px;
    gap: 15px;

    .view > svg {
      height: 100%;
      width: 55px;
    }

    > div:not(:first-child) {
      padding: 10px;
      font-size: 22px;
      line-height: 27px;
    }

    .priceContainer {
      > svg {
        width: 20px;
      }

      .price {
        padding: 0 5px 0 12px;
      }

      .arrow {
        > svg {
          width: 25px;

        }
      }
    }

    .category .categoryTitle {
      margin-left: 10px;
    }
  }
}