$main_bg:#EBECEE;
$sidebar_bg:#FFFFFF;
$active_item_color:#766ED3;
$search_bg:#FBF8F8;
$white:#FFF;
$gold:#F8DC25;
$green:#00C908;


$font: 'Inter', sans-serif;

$full:100%;
$h_screen:100vh;
$w_screen:100vw;