$main_bg: #ebecee;
$sidebar_bg: #ffffff;
$active_item_color: #766ed3;
$search_bg: #fbf8f8;
$white: #fff;
$gold: #f8dc25;
$green: #00c908;

$font: "Inter", sans-serif;

$full: 100%;
$h_screen: 100vh;
$w_screen: 100vw;

$window-width: (desktop:"1200px", tablet:"600px")